<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GE的设计</title>
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/design.css">
    </head>
    <body>
        <div class="container design_part">
            <div class="head">
                <div class="wrap">
                    <h4 class="title">首页</h4>
                    <ul class="nav">
                        <li class="item design">设计</li>
                        <li class="item code">编程</li>
                        <li class="item resume">简历</li>
                        <li class="item contact">联系</li>
                        <li class="item message">留言版</li>
                    </ul>
                </div>
            </div>

            <div class="main">
                <div class="design_wrap">
                    <div class="design_aside">
                        <ul class="design_list">
                            <li class="design_item">大亚湾黄金浴场</li>
                            <li class="design_item">东莞常平常新公园</li>
                            <li class="design_item">中山古镇灯都公园</li>
                            <li class="design_item">三亚凤凰机场</li>
                        </ul>
                    </div>
                    <div class="design_main">
                        <div class="design_project">

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>
