<div class="home-wrap">
    <div class="home-cover"></div>
    <!-- <img class="home-cover" src="images/storyFanHoGallery3.jpg"> -->
    <div class="home-essay">
        <h4 class="essay-title">在地铁站内</h4>
        <p class="essay-author">埃兹拉·庞德</p>
        <p class="essay-content">
            这几张脸在人群中幻景般闪现;
            <br>
            湿漉漉的黑树枝上花瓣数点。
        </p>
        <!-- <h4 class="essay-title">In a Station of the Metro</h4>
        <p class="essay-author">Ezra Pound</p> -->
        <p class="essay-content">
            The apparition of these faces in the crowd;
            <br>
            Petals on a wet, black bough.
        </p>
    </div>
</div>
