<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>蒋志坚的小站</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div class="container">
            <div class="head">
                <div class="wrap">
                    <h4 class="title">首页</h4>
                    <ul class="nav">
                        <li class="item design">设计</li>
                        <li class="item code">编程</li>
                        <li class="item resume">简历</li>
                        <li class="item contact">联系</li>
                        <li class="item comment">留言版</li>
                    </ul>
                </div>
            </div>

            <div class="main"></div>
            <div class="comment-container">
                <form class="comment-form" action="index.html" method="post">
                    <label for="author">游客</label>
                    <input id="author" type="text" name="author" placeholder="请输入您的名字">
                    <label for="">内容</label>
                    <textarea id="content" name="content" rows="8" cols="80"></textarea>
                    <button type="submit" name="button">提交</button>
                </form>
                <div class="comment-input">

                </div>
                <div class="comment-wrap">
                    <!-- <div class="comment-item">
                        <img src="" alt="">
                        <div class="comment-detail">
                            <p class="comment-author">
                                北顾
                                <span class="comment-time">2017-07-11, 17:35</span>
                            </p>
                            <p class="comment-content">hello!</p>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>

        <script src="js/main.js"></script>
    </body>
</html>
