<div class="note-container item-container">
    <div class="note-wrap">
    </div>
    <div class="note-form">
        <input class="note-input input-title" type="text" placeholder="请输入标题" data-key="title">
        <textarea class="note-input input-content" placeholder="请输入内容" data-key="content"></textarea>
        <div class="note-output"></div>
        <div class="note-btn-wrap">
            <button class="note-btn note-reset">重置</button>
            <button class="note-btn note-submit">提交</button>
        </div>
    </div>
</div>
