<div class="program-container">
    <div class="program-item">
        <div class="program-item-pic program-pic-1"></div>
        <a class="program-item-dec" href="https://github.com/jiangzj1008/PlaneFight" target="_blank">
            <h4>飞机大战</h4>
        </a>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-2"></div>
        <a class="program-item-dec" href="https://github.com/jiangzj1008/BreakTheBricks" target="_blank">
            <h4>打砖块</h4>
        </a>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-3"></div>
        <a class="program-item-dec" href="https://github.com/jiangzj1008/flappyBird" target="_blank">
            <h4>flappy bird</h4>
        </a>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-4"></div>
        <a class="program-item-dec" href="https://jiangzj1008.github.io/2048/index.html" target="_blank">
            <h4>2048</h4>
        </a>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-5"></div>
        <a class="program-item-dec" href="https://github.com/jiangzj1008/chatroom" target="_blank">
            <h4>聊天室</h4>
        </a>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-6"></div>
        <a class="program-item-dec" href="https://github.com/jiangzj1008/musicplayer" target="_blank">
            <h4>音乐播放器</h4>
        </a>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-7"></div>
        <a class="program-item-dec" href="https://github.com/jiangzj1008/weather-forecast" target="_blank">
            <h4>天气预报</h4>
        </a>
    </div>
</div>
