.note-form {
    width: 600px;
    margin: auto;
}
.note-input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    resize: none;
    padding: 8px;
    border: 1px solid #e6e6e6;
    outline: none;
    margin: 10px auto;
    font-size: 14px;
}
.note-btn {
    box-sizing: border-box;
    line-height: 38px;
    padding: 0 18px;
    font-size: 14px;
    background: #fff;
    color: #555;
    outline: none;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    transition: all 0.2s;
}
.note-btn:hover {
    color: #fff;
    background: #009688;
    border: 1px solid #009688;
}

.note-wrap {
    width: 600px;
    margin: 0px auto 50px;
}
.note-item {
  overflow: hidden;
  border-bottom: 1px solid #e6e6e6;
}
.note-item:first-child {
    border-top: 1px solid #e6e6e6;
}
.note-title {
    float: left;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0px;
}
.note-time {
    float: right;
    font-size: 14px;
    line-height: 18px;
    color: #9a9a9a;
    margin: 10px 0px;
}
