<div class="comment-container">
    <div class="comment-form">
        <input class="comment-input input-author" type="text" placeholder="请输入姓名" data-key="author">
        <textarea class="comment-input input-content" placeholder="请输入留言" data-key="content"></textarea>
        <div class="comment-btn-wrap">
            <button class="comment-btn comment-reset">重置</button>
            <button class="comment-btn comment-submit">提交</button>
        </div>
    </div>
    <div class="comment-wrap">
    </div>
</div>
