<div class="program-container">
    <div class="program-item">
        <div class="program-item-pic program-pic-1"></div>
        <div class="program-item-dec">
            <a href="#">飞机大战</a>
        </div>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-2"></div>
        <div class="program-item-dec">
            <a href="#">打砖块</a>
        </div>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-3"></div>
        <div class="program-item-dec">
            <a href="#">flappy bird</a>
        </div>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-4"></div>
        <div class="program-item-dec">
            <a href="https://jiangzj1008.github.io/2048/index.html">2048</a>
        </div>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-5"></div>
        <div class="program-item-dec">
            <a href="#">聊天室</a>
        </div>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-6"></div>
        <div class="program-item-dec">
            <a href="#">音乐播放器</a>
        </div>
    </div>
    <div class="program-item">
        <div class="program-item-pic program-pic-7"></div>
        <div class="program-item-dec">
            <a href="#">天气预报</a>
        </div>
    </div>
</div>
